@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Me</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="img-fluid">
            <img src="~/Images/20182208.png" />
        </div>
        <div class="col-md-6">
            <p>
                I'm Rick Bowman, a software developer from Appleton Wisconsin. I started programming in 2014 by learning the basics of HTML, CSS, and Python.
                I received an Associate Degree in Software Development from Fox Valley Technical College in May 2018, and am currently in the Web Development and Design program,
                which I will complete in May 2020. My skillset is focused mostly in the .Net framework using technologies such as: C#, SQL, HTML, CSS/Bootstrap, WinForms, WPF, .Net Core, ASP.Net, ASP.Net MVC, Razor, LINQ,
                Entity Framework, Web API, and some Azure services. I have also experimented with C++, PHP, Xamarin, Swift, and Unity. Outside of programming my interests include woodworking, painting,
                electronic music, and outer space.
            </p>
        </div>
    </div>
</div>