@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Education</h2>
<hr />

<h3>Fox Valley Technical College</h3>
<p><i>Associate in Applied Science: Software Development, completed: May 2018</i></p>
<p><i>PC Programming Certificate, completed: December 2017</i></p>
<ul>
    <li>4.0 GPA</li>
</ul>

<h3>University of Minnesota Twin Cities</h3>
<p><i>General Studies, August 2011 - May 2012</i></p>
<ul>
    <li>Member of the collegiate mens bowling team</li>
</ul>

<h3>Appleton North High School</h3>
<p><i>High School Diploma, May 2011</i></p>
<ul>
    <li>Member of the mens varsity bowling team, serving two years as captain</li>
</ul>
