@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="img-fluid">
            <img src="~/Images/20182208.png" alt="Picture of Me" width="300" height="322" />
        </div>
        <div class="col-md-6">
            <p>
                I'm Rick Bowman, a full stack developer from Appleton Wisconsin. I started programming in 2013 by learning the basics of HTML, CSS, and Python. I have received
                an Associate Degree in Software Development, Technical Diploma in Web Design, Mobile Application Certificate, and PC Programming Certificate from Fox Valley Technical College.
                My skillset is focused mostly in the .NET using technologies such as: C#, SQL, HTML, CSS/Bootstrap, WinForms, WPF, .NET Core, ASP.NET, WebForms, ASP.Net MVC,
                Entity Framework, REST API, and various Azure services. I have also experimented with C++, PHP, Xamarin, iOS (Swift), Android (Java), and Unity. 
                Outside of programming my interests include woodworking, painting, electronic music, and outer space.
            </p>
        </div>
    </div>
</div>