@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p class="lead text-center">This is the personal website of Rick Bowman. Use the links at the top to learn more about me.</p>
</div>