@{
    ViewBag.Title = "Work History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Work History</h2>
<hr />

<h3>Shopko</h3>
<p><i>General Merchandise Freight, October 2013 - June 2015, August 2016 - June 2017</i></p>
<ul>
    <li>Unload trucks and accurately fill product on the sales floor </li>
    <li>Return excess stock to the backroom</li>
    <li>Carry out merchandise for customers</li>
    <li>Help customers locate merchandise on sales floor and answer customer questions</li>
    <li>Straighten and organize merchandise</li>
</ul>

<h3>H&R Block</h3>
<p><i>Customer Service Professional, January 2013 – April 2013, January 2014 – April 2014, January 2015 – April 2015, January 2016 - April 2016</i></p>
<ul>
    <li>Greet clients in a personalized, friendly, and inviting manner</li>
    <li>Match clients with the best-suited tax professional for their needs</li>
    <li>Schedule clients how they would like to be scheduled</li>
    <li>Handle client exits by ensuring all current and future needs are met</li>
    <li>Maintain office cleanliness and organization of resources</li>
    <li>Handle customer payments</li>
</ul>

<h3>University of Minnesota Twin Cities</h3>
<p><i>Student Custodian, May 2012 – August 2012</i></p>
<ul>
    <li>Clean various areas of residence halls by sweeping and mopping floors and stairways, vacuuming hallways, cleaning bathrooms, walls, windows, laundries, dining room, residence rooms, lobbies and other public areas</li>
    <li>Collect trash and recycling items</li>
    <li>Move furniture and make beds</li>
    <li>Routinely use standard industrial cleaning agents and equipment such as vacuum cleaners, floor mop, wet vacuum and rotary floor machine</li>
</ul>
